<meta charset="UTF-8">
<meta name="viewport" content="user-scalable=no,width=device-width,initial-scale=1,maximum-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>IF Eventos - <%- title %></title>

<meta name="theme-color" content="#06c261">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link rel="icon" sizes="32x32" href="img/theme/antares/favicon/favicon-32.png">
<link rel="icon" sizes="192x192" href="img/theme/antares/favicon/favicon-192.png">
<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#06c261">
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#06c261">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#06c261">

<!-- && manifest -->
<meta name="mobile-web-app-capable" content="yes">
<meta name="application-name" content="IF Eventos">
<meta name="apple-mobile-web-app-title" content="IF Eventos">
<meta name="description" content="Gerenciador de eventos">
<meta name="robots" content="noindex,nofollow">