<aside class="main-sidebar main-menu-html" data-menu-on-load="primary">
    <div class="nav-container">
        <nav>
            <div class="menu-scroll">
                <ul class="main-menu--brand main-menu">
                    <li class="main-menu__brand has-submenu" data-index="0" data-name="brand">
                        <a>
                            <div class="main-sidebar__logo"></div>
                        </a>
                        <div class="submenu submenu--system js-flex-start">
                            <a class="submenu__mobile-return">
                                <i class="zmdi zmdi-arrow-left"></i>
                                <span>Brand Menu</span>
                            </a>
                            <section class="section--2col" data-scrollable>
                                <div class="submenu__content standard">
                                    <div class="submenu__content-left">
                                        <div class="brand-logo"></div>
                                    </div>
                                    <div class="submenu__content-right">
                                        <span class="brand-name">EVENTS MANAGER</span>
                                        <div class="menu-columns">
                                            <div class="row">
                                                <div class="col-6">
                                                    <ul class="">
                                                        <li class="">
                                                            <span>Plan</span>
                                                            <span>Lite</span>
                                                        </li>
                                                        <li class="">
                                                            <span>Payment</span>
                                                            <span>Monthly</span>
                                                        </li>
                                                        <li class="">
                                                            <span>Support</span>
                                                            <span>3 mo. left</span>
                                                        </li>
                                                        <li class="">
                                                            <span>Registered</span>
                                                            <span>2 years ago</span>
                                                        </li>
                                                        <li class="">
                                                            <span>Support</span>
                                                            <span>3 mo. left</span>
                                                        </li>
                                                        <li class="">
                                                            <span>Registered</span>
                                                            <span>2 years ago</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-6">
                                                    <ul class="">
                                                        <li class="">
                                                            <span>Plan</span>
                                                            <span>Lite</span>
                                                        </li>
                                                        <li class="">
                                                            <span>Payment</span>
                                                            <span>Monthly</span>
                                                        </li>
                                                        <li class="">
                                                            <span>Support</span>
                                                            <span>3 mo. left</span>
                                                        </li>
                                                        <li class="">
                                                            <span>Registered</span>
                                                            <span>2 years ago</span>
                                                        </li>
                                                        <li class="">
                                                            <span>Support</span>
                                                            <span>3 mo. left</span>
                                                        </li>
                                                        <li class="">
                                                            <span>Registered</span>
                                                            <span>2 years ago</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </li>
                </ul>
                <ul class="main-menu main-menu--primary">
                    <li data-index="0" data-name="dashboard">
                        <a href="/">
                            <i class="zmdi zmdi-view-dashboard"></i>
                            <span class="text">Dashboard</span>
                        </a>
                    </li>
                    <li data-index="1" data-name="users">
                        <a href="/users">
                            <i class="zmdi zmdi-accounts"></i>
                            <span class="text">Usuários</span>
                        </a>
                    </li>
                    <li data-index="2" data-name="dashboard">
                        <a href="/events">
                            <i class="zmdi zmdi-globe-alt"></i>
                            <span class="text">Eventos</span>
                        </a>
                    </li>
                    <li data-index="3" data-name="institutions">
                        <a href="/institutions">
                            <i class="zmdi zmdi-graduation-cap"></i>
                            <span class="text">Intituições</span>
                        </a>
                    </li>
                    <li data-index="0" data-name="dashboard">
                        <a href="index.html">
                            <i class="zmdi zmdi-badge-check"></i>
                            <span class="text">Ceritificados</span>
                        </a>
                    </li>
                    <li data-index="0" data-name="dashboard">
                        <a href="index.html">
                            <i class="zmdi zmdi-settings"></i>
                            <span class="text">Configurações</span>
                        </a>
                    </li>
                </ul>
                <ul class="main-menu main-menu--secondary">                    
                    <li data-index="5" data-name="api_conf">
                        <a href="/">
                            <i class="zmdi zmdi-bug"></i>
                            <span class="text">API</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="more-trigger">
                <div class="more-trigger__inner">
                    <div class="main-close">
                        <i class="zmdi zmdi-more"></i>
                        <span class="text"></span>
                    </div>
                    <div class="alt-close">
                        <div class="close close--one"></div>
                        <div class="close close--two"></div>
                    </div>
                </div>
            </div>
            <div class="mobile-ddowns">

                <!-- Logged in user options -->
                <div class="mobile-ddowns__sgl ddown--logged">
                    <div class="mobile-ddowns__desc">
                        <div class="mobile-ddowns__label">Logged As:</div>
                        <div class="mobile-ddowns__text">Paweł Bis</div>
                    </div>
                    <div class="mobile-ddowns__icon">
                        <i class="zmdi zmdi-caret-down"></i>
                    </div>
                    <ul class="mobile-ddowns__menu mobile-ddowns__menu--user">
                        <li class="mobile-ddowns__menu-header">
                            <a>
                                <div class="flex-block">
                                    <div class="avatar avatar--xs">
                                        <img src="img/brand/brand-inbs.png" alt="Logged In User Avatar">
                                    </div>
                                    <div class="flex-block__content">
                                        <span class="flex-block__title">Paweł Bis</span>
                                        <span class="flex-block__desc">RS Studio</span>
                                    </div>
                                    <div class="flex-block__badge">
                                        <i class="zmdi zmdi-check"></i>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span>View Profile</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span>Upgrade Plan</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span>Account Billing Aight</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span>Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- <div class="mobile-ddowns__sgl ddown--brand">
                    <div class="mobile-ddowns__desc">
                        <div class="mobile-ddowns__label">Brands:</div>
                        <div class="mobile-ddowns__text">INBS.software</div>
                    </div>
                    <div class="mobile-ddowns__icon">
                        <i class="zmdi zmdi-caret-down"></i>
                    </div>
                    <ul class="mobile-ddowns__menu mobile-ddowns__menu--brand">
                        <li class="mdl-js-button mdl-js-ripple-effect is-selected"
                            data-upgraded=",MaterialButton,MaterialRipple">
                            <a>
                                <div class="flex-block">
                                    <div class="avatar avatar--xs">
                                        <img src="img/brand/brand-inbs.png" alt="item.avatarAlt">
                                    </div>
                                    <div class="flex-block__content">
                                        <span class="flex-block__title">INBS.software</span>
                                    </div>
                                    <div class="flex-block__badge">
                                        <i class="zmdi zmdi-check"></i>
                                    </div>
                                </div>
                            </a>
                            <span class="mdl-button__ripple-container">
                                <span class="mdl-ripple"></span>
                            </span>
                        </li>
                        <li class="mdl-js-button mdl-js-ripple-effect" data-upgraded=",MaterialButton,MaterialRipple">
                            <a>
                                <div class="flex-block">
                                    <div class="avatar avatar--xs">
                                        <img src="img/brand/brand-rsstudio.png" alt="item.avatarAlt">
                                    </div>
                                    <div class="flex-block__content">
                                        <span class="flex-block__title">RS Studio</span>
                                    </div>
                                </div>
                            </a>
                            <span class="mdl-button__ripple-container">
                                <span class="mdl-ripple"></span>
                            </span>
                        </li>
                        <li class="mobile-ddowns-new mdl-js-button mdl-js-ripple-effect"
                            data-upgraded=",MaterialButton,MaterialRipple">
                            <a>
                                <div class="flex-block">
                                    <div class="avatar avatar--xs">
                                        <i class="zmdi zmdi-plus-circle-o"></i>
                                    </div>
                                    <div class="flex-block__content">
                                        <span class="flex-block__title">Add Brands</span>
                                    </div>
                                </div>
                            </a>
                            <span class="mdl-button__ripple-container">
                                <span class="mdl-ripple"></span>
                            </span>
                        </li>
                    </ul>
                </div> -->
            </div>
        </nav>
    </div>
</aside>