<%- include('../partials/header') %>
<div class="grid-stack-item ui-draggable ui-resizable ui-resizable-autohide ui-draggable-disabled ui-resizable-disabled"
    data-gs-no-resize="1" data-gs-no-move="1" data-gs-x="1" data-gs-y="0" data-gs-width="4" data-gs-height="20"
    data-gs-min-width="4" data-gs-min-height="15" data-antares-grid-index="1" style="z-index: 0;">
    <div class="grid-stack-item-content">

        <div class="card card--clean card--zd">
            <div class="card__header">
                <div class="card__header--left">SACI 2019</div>
            </div>
            <div class="card__content">
                <div class="zd zd--sm">
                    <div class="zd__header">
                        <i class="zmdi zmdi-globe"></i>
                    </div>
                    <div class="zd__content">
                        <div class="zd__title">Ir para SACI</div>
                        
                    </div>
                    <div class="zd__footer">
                        <a href="/events/5d6b53ad2bb41900175d48c0/" class="btn btn--primary btn--zd mdl-js-button mdl-js-ripple-effect"
                            data-upgraded=",MaterialButton,MaterialRipple">IR PARA SACI<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>